In sets, 

1. "|" finds the union between sets. Combines them

2. "-" finds the difference between sets. Difference in A from B (if A - B)

3. "&" finds the intersection between sets. Finds the numbers that are the same.

4. "^" finds the symmetric difference between sets. Finds all the numbers that exist in 1 set but not the other

Problem Statement: Common Elements

You are given two lists of numbers: [1, 2, 3, 4, 5] and [4, 5, 6, 7, 8]. Your task is to create sets from these lists and find the common elements between them.

1. Create sets from the given lists.

2. Find the common elements between the two sets.

3. You can write a Python program to solve this problem.

In [6]:
list1 = [1,2,3,4,5]
list2 = [4, 5, 6, 7, 8]

set1 = set(list1)
set2 = set(list2)

print(set1 & set2)

{4, 5}

add a number to set {1,2 ,3, 4}. Then remove it

In [43]:
set1 = {1, 2, 3, 4}

set1.add(7)

print(set1)

set1.remove(7)

print(set1)

{1, 2, 3, 4, 7}
{1, 2, 3, 4}

You are given two sets of numbers: {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8}. Your task is to find the symmetric difference between these two sets.

1. Create sets from the given sets of numbers.
2. Find the symmetric difference between the two sets.
3. You can write a Python program to solve this problem.

In [8]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

#print(set1 - set2) #WRONG
print(set1 ^ set2)

# Note to self, symmetric difference is different from regular differnce (-)
# It's the elements that are in either set1 and set2 but not both.
# While the regular difference elements in a but not in b (given a - b)

{1, 2, 3}
{1, 2, 3, 6, 7, 8}

Problem Statement: Set Operations

You are given three sets of numbers: {1, 2, 3, 4, 5}, {4, 5, 6, 7, 8}, and {5, 6, 7, 8, 9}. Your task is to perform the following set operations:

1. Find the union of all three sets.

2. Find the intersection of the first two sets.

3. Find the difference between the first set and the intersection of the other two sets.

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
set3 = {5, 6, 7, 8, 9}

print("union", set1 | set2 | set3)
print("difference", set1 - (set2 & set3))

union {1, 2, 3, 4, 5, 6, 7, 8, 9}
difference {1, 2, 3, 4}

Problem Statement: Set Symmetric Difference

You are given three sets of numbers: {1, 2, 3, 4, 5}, {4, 5, 6, 7, 8}, and {5, 6, 7, 8, 9}. Your task is to find the symmetric difference between these three sets.

Find the symmetric difference between the three sets.

In [17]:
set1  = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {5,6,7,8,9}

print(set1 ^ set2 ^ set3)

{1, 2, 3, 5, 9}

Problem Statement: Set Operations

You are given four sets of numbers: {1, 2, 3, 4, 5}, {4, 5, 6, 7, 8}, {5, 6, 7, 8, 9}, and {8, 9, 10, 11, 12}. Your task is to perform the following set operations:

1. Find the union of all four sets.
2. Find the intersection of the first two sets.
3. Find the difference between the first set and the intersection of the other three sets.
4. Find the symmetric difference between the four sets.

In [20]:
set1  = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {5,6,7,8,9}
set4 = {8, 9, 10, 11, 12}

print(set1 | set2 | set3 | set4)
print(set1 & set2 & set3 & set4)
print(set1 - (set2 & set3 & set4))
print(set1 ^ set2 ^ set3  ^ set4)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
set()
{1, 2, 3, 4, 5}
{1, 2, 3, 5, 8, 10, 11, 12}

Problem Statement: Set Operations

You are given five sets of numbers: {1, 2, 3, 4, 5}, {4, 5, 6, 7, 8}, {5, 6, 7, 8, 9}, {8, 9, 10, 11, 12}, and {10, 11, 12, 13, 14}. Your task is to perform the following set operations:

1. Find the union of all five sets.
2. Find the intersection of the first three sets.
3. Find the difference between the first set and the intersection of the other four sets.
4. Find the symmetric difference between the five sets.

In [22]:
set1  = {1,2,3,4,5}
set2 = {4,5,6,7,8}
set3 = {5,6,7,8,9}
set4 = {8, 9, 10, 11, 12}
set5 = {10, 11, 12, 13, 14}

print(f"union {set1 | set2 | set3 | set4 | set5}")
print(f"intersection {set1 & set2 & set3}")
print(f"dif and intersection {set1 - (set2 & set3 & set4 & set5)}")
print(f"symdif {set1 ^ set2 ^ set3 ^ set4 ^ set5}")

union {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14}
intersection {5}
dif and intersection {1, 2, 3, 4, 5}
symdif {1, 2, 3, 5, 8, 13, 14}

Problem Statement: Data Deduplication

You are given three datasets, each represented as a list of integers. Some integers may be duplicated across the datasets. Your task is to deduplicate the data by converting each dataset into a set and then combining these sets to create a single set containing all unique integers.

Convert each dataset into a set to remove duplicates.
Combine these sets to create a single set containing all unique integers.
Print the final set.
For example, if the datasets are:


dataset1 = [1, 2, 3, 4, 5]
dataset2 = [4, 5, 6, 7, 8]
dataset3 = [5, 6, 7, 8, 9]

The output should be:
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [33]:
dataset1 = [1,2,3,4,5,6]
dataset2 = [4,5,6,7,8]
dataset3 = [5,6,7,8,9]

set1 = set(dataset1) | set(dataset2) | set(dataset3)
2
print(set1)

# note to self. use "|" to get uniqeu elements of sets, rather than appending lists and then building a set.

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
'''Problem Statement: Set Operations with Complex Data

You are given a list of dictionaries, where each dictionary represents a person with their name and age. Your task is to perform the following set operations:

Find the set of names of people who are older than 30 years old.
Find the set of names of people who are younger than 20 years old.
Find the set of names of people whose names start with the letter 'A'.
Find the set of names of people whose names end with the letter 'a'.
You can write a Python program to solve this problem. 

Here's a sample dataset:

people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 35},
    {'name': 'David', 'age': 40},
    {'name': 'Eve', 'age': 45},
    {'name': 'Frank', 'age': 50},
    {'name': 'Grace', 'age': 55},
    {'name': 'Heidi', 'age': 60},
    {'name': 'Ivan', 'age': 65},
    {'name': 'Jack', 'age': 70}
]'''

In [39]:
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 35},
    {'name': 'David', 'age': 40},
    {'name': 'Eve', 'age': 45},
    {'name': 'Frank', 'age': 50},
    {'name': 'Grace', 'age': 55},
    {'name': 'Heidi', 'age': 60},
    {'name': 'Ivan', 'age': 65},
    {'name': 'Jack', 'age': 70}
]


for i in people:
    if i['age'] > 30:
        print(f"Older than 30 {i['name']}")

for i in people:
    if i['age'] < 20:
        print(f"Younger than 20 {i['name']}")

for i in people:
    if i['name'].startswith('A'):
        print(f"Name starts with A {i['name']}")

for i in people:
    if i['name'].endswith("a"):
        print(f"Name ends with a {i['name']}")

Older than 30 Charlie
Older than 30 David
Older than 30 Eve
Older than 30 Frank
Older than 30 Grace
Older than 30 Heidi
Older than 30 Ivan
Older than 30 Jack
Name starts with A Alice